.table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .td {
    border-top: 1px solid rgb(12, 8, 8);
  } 
  
  table, td, th {
    border: 1px solid;
    text-align: left;
    padding: 15px;
  }
  
  body{
    background-color: rgb(97, 95, 94);
    color: aliceblue;
}
  h3{
  color: black;
  }